@layer components {
  .header {
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
  }
  .container {
    margin: 0 auto;
    padding: 2rem;
  }
  body {
    background-color: white;
  }
  .breadcrumb_about{
    background-image: url("../img/breadcrumb-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 40;
  }
.custom-input {
    padding: 10px;
    border: 2px solid #1976d2; /* Custom border color */
    border-radius: 5px; /* Custom border radius */
    width: 100%; /* Custom width */
    font-size: 16px; /* Custom font size */
    outline: none; /* Remove default outline */
    transition: border-color 0.3s;
}

.custom-input:focus {
    border-color: #3f51b5; /* Change border color on focus */
}
}
